* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//primero van las variables 
@import "./variables/colores";

@import "./variables/extend";

@import "./variables/mixin";

@import "./variables/maps";

@import "./secciones/header";

@import "./secciones/index";

@import "./secciones/footer";